# Google AI Studio API Key (Get from https://aistudio.google.com/)
GOOGLE_API_KEY=your_gemini_api_key_here

# MongoDB Atlas or Local URI
MONGO_DETAILS=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/loan_db?retryWrites=true&w=majority&appName=Cluster0&authSource=admin

# Active Gemini Models
VISION_MODEL_NAME=gemini-2.5-flash
REASONING_MODEL_NAME=gemini-2.5-flash